@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f2f2f2;
}
.rotate {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}
.accordian {
	width: 390px;
	height: 320px;
	overflow: scroll;
	/*styling for shawdows*/
	margin: 70px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1000px;
}
.accordian li {
	position: relative;
	display: block;
	width: 80px;
	float: left;
	border-left: 1px solid #888;
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*un-hovered elements*/
.accordian ul:hover li {
	width: 20px;
}
/*hover elements*/
.accordian ul li:hover {
	width: 300px;
}
.accordian li img {
	display: block;
}
.googleFont {
	padding-top: 16.5%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	color: #666666;
}
strong {
	font-weight: bold;
}
.titleMenu {
	display: inline-block;
	vertical-align: top;
	padding-left: 4%;
	padding-top: 3%;
	padding-right: 1%;
}
